/* pdf-style.css */

body {
    width: 21cm;
    height: 29.7cm;
    background-color: rgb(255, 0, 30);
    margin: 0;
    color: red;
  }
  
  main .resume-page {
    width: 100%;
    min-height: 100%;
    margin: 0;
    page-break-inside: avoid;
  }
  
  .resume-page .container {
    background-color: #fbfbfb;
    color: antiquewhite;
    padding: 1em; /* Adjust padding as needed */
    box-shadow: none;
  }
  
  .open-source-list {
    padding-left: 0;
  }
  
  .project-entry {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  /* Add additional styles for page breaks or other adjustments as needed */
  